body {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    min-width: 900px;
    padding: 0;
}

.kiri {
    float: left;
    margin-left: 100px;
}
.kanan {
    margin-top: 5px;
    float: right;

}
.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.putih{
    color: white;
}
.bold{
    font-weight: bold;
}
.nav {
    z-index: 10;
    list-style-type: none;
    margin: 0;
    margin-top: -50px;
    height: 56px;
    padding: 0;
    overflow: hidden;
    background-color: blue ;
    position: sticky;
    top: -2px;

}


.aa {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.aa:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

aside {

    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.main{
    padding: 16px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.27);
    border-radius: 5px;
}

.left-content {
    text-align: center;
    width: 70%;
    height: 100%;

    /* digunakan untuk memindahkan posisi elemen ke sisi kiri container */
    float: left;
}

.right-content {
    text-align: center;
    width: 30%;
    height: 100%;

    /* digunakan untuk memindahkan posisi elemen ke sisi kanan container */
    float: right;
}